<!-- Errors Here -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 style="margin:1rem auto;">Create your new Post</h1>
    <div class="form-group">
        <form action="{% url 'create' %}" method="POST">
            {% csrf_token %}
            <h2>Post Name:</h2>
            <input class="form-control" type="text" name="title" value="">
            <h2>Post Content:</h2>
            <textarea class="form-control" name="body"></textarea>
            <br>
            <input class="btn btn-dark" type="submit" value="Submit!">
        </form>
    </div>
</div>
{% endblock %}
<!-- Errors Here -->